
.app-container 
    display: flex
    flex-direction: column
    padding: 10px
    height: -webkit-fill-available
    .canvasAndControl
        display: flex
        padding: 10px
        height: -webkit-fill-available
    .titleBanner
        font-size: 70px
        .title
                background-image: url(https://t3.ftcdn.net/jpg/02/92/83/24/360_F_292832467_jq3r26yBJopw9v4S4X7HhSJtRvgSa6RA.webp)
                background-size: contain
                -webkit-background-clip: text
                -webkit-text-fill-color: transparent
                font-family: sans-serif
                font-weight: 800
                font-size: 80px
                margin: 20px
                text-transform: uppercase
                -webkit-font-smoothing: antialiased
    .toolbar
        width: 250px
        margin-left: 10px
        .hoverText
            position: absolute
            top: 100px
            right: 295px
            color: golden
            font-size: 30px
            filter: drop-shadow(15px 12px 3px #bd0d0d99)
        .title
            background-image: url(https://media.istockphoto.com/id/1367167247/vector/the-code-of-the-background-matrix-falling-from-the-top-vector-particle-pattern-data-transfer.jpg?s=612x612&w=0&k=20&c=z-z5TSDuWUlljRzD1V63LuI9UfeRCqOd3ytmXPzN74A=)
            background-repeat: repeat
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent
            font-weight: 800
            font-size: 80px
            margin: 20px
            letter-spacing: 7px
            text-transform: uppercase
            -webkit-font-smoothing: antialiased
        .fileInp
            border: 1px solid
            padding: 5px
            max-width: -webkit-fill-available
            border-radius: 5px
        .border
            border-bottom: 1px solid black
            padding-bottom: 20px
            margin-bottom: 20px !important
        .control
            margin: 5px 0
            display: flex
            align-items: center
            span 
                font-size: 12px
                margin-left: 5px
        .range-ctrl
            display: flex
            flex-direction: column
            margin: 5px 0px
            span
                margin-bottom: 5px
    #canvas-container
        height: 100%
        flex: 1

